$primary-color: #003459;
$primary-dark-color: #002a48;
$secondary-color: #fceed5;
$black-color: #000000;
$neutral-white-color: #fdfdfd;
$white-color: #ffffff;
$neutral-color: #00171f;
$neutral-color-60: #667479;
$neutral-color-80: #242b33;
$dark-blue-80: #002a48;
$state-color: #00a7e7;
$orange-color: #FC643A;
$pink-color: #FFC0CB;
$gray-color: #EADFD4;

$shadow-color-01: 0 4px 8px rgba(0, 0, 0, 0.1);

$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-xl: 28px;
$spacing-xxl: 40px;

$font-400: 400;
$font-500: 500;
$font-700: 700;
$font-800: 800;

$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 24px;
$text-xl: 36px;
$text-2xl: 46px;
$text-3xl: 52px;
$text-4xl: 60px;

$font-primary: 'SVN-Gilroy', sans-serif;

$mobile: 576px;
$desktop: 1200px;
